*{
    margin: 0;
    padding: 0;
}

main{
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(157, 184, 185);
    max-width: 1360px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul, h1{
    margin: 10px;
}

/* psudo class li */
li:first-child{
    color: rgb(221, 37, 99);
}
li:nth-child(2n){
    color: aliceblue;
}
li:last-child{
    color: brown;
}

.input-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-sec input{
    margin: 5px;
    padding: 5px;
}

/* psudo class input */
input:focus{
    color: red;
}


.link-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link-sec a{
    margin: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
}

/* psudo class a */
a:visited{
    color: rgb(148, 15, 15);
}