main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 1.5em;
    padding: 10px;
    border: 3px solid gray;
    border-radius: 10px;
    background-color: aquamarine;
}
img{
    width: 150px;
}

.box{
    position: relative;
}

.crow{
    right: 50px;
}

.owl{
    bottom: 100px;
    left: 50px;
}
/* example of z axis */
.knife{
    bottom: 300px;
    left: 100px;
    z-index: -1;
}

/* example of psudo element */
h3::after{
    content: 'koler gaan';
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    font-size: small;
}

.psudo-element{
    max-width: 500px;
    text-align: center;
}

p::first-letter{
    font-size: 2em;
}
p::first-line{
    background-color: aquamarine;

}
::selection{
    background-color: yellowgreen;
}