body{
    background-color: brown     ;
}

div{
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 7px rgb(80, 20, 20);
}

.external{
    padding: 20px;
    background-color: #c5acff;
    border: 2px solid #020075;
}
.external h2{
    text-decoration: underline;
    color: #1b0f36;
}
.external p{
    color: #1b0f36;
}
.external p span{
    background-color: yellowgreen;
}